<div class="navbar navbar-fixed-top NavHeight">
    <div class="navbar-inner NavHeight">
        <div class="container">
            <div class="nav-collapse">
                <h1 class="nav  pull-left">SnowSchoolers</h1>
                <ul class="nav  pull-right">
                    <li>
                        <%= link_to('Home', home_path) %>
                    </li>
                    <li>
                        <%= link_to('Browse Instructors', instructor_profiles_path) %>
                    </li>
                    <li class="active">
                        <%= link_to('Pricing', pricing_path) %>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.navbar-inner -->
</div>
<!-- /.navbar -->
<div class="container-fluid SliderBg SliderBorder Divider InnerTitle">
    <div class="container Divider">
        <h1 class="">
            <span>Our pricing is as competitive as it gets.</span>
        </h1>
    </div>
</div>
<!--=== Content Part ===-->
<div class="container">
  <div class="row-fluid">

    <!-- Default Tables styles -->
    <div class="row-fluid">
      <div class="span12">
        <h2 class="BigHeader">Ski Lesson Pricing</h2>
        <hr>
      </div>
      <div class="span8">
        <div class="headline" style=""><h3>Private Lesson Rates</h3></div>
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th></th>
                      <th>Snow Schoolers</th>
                      <th>Squaw/Alpine</th>
                      <th>Northstar</th>
                      <th>Sugarbowl</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>2 hr</td>
                      <td>$80</td>
                      <td><strike>$329</strike></td>
                      <td><strike>$270</strike></td>
                      <td><strike>$225</strike></td>
                  </tr>
                  <tr>
                      <td>6 hr</td>
                      <td>$240</td>
                      <td><strike>$679</strike></td>
                      <td><strike>$725</strike></td>
                      <td><strike>$525</strike></td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="span8" style="text-align:center"><br>
        <div class="headline"><h3>Private Group Rates</h3></div>
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th></th>
                      <th>2 friends</th>
                      <th>3 friends</th>
                      <th>4 friends</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>2 hr</td>
                      <td>$100</td>
                      <td>$120</td>
                      <td>$140</td>
                  </tr>
                  <tr>
                      <td>6 hr</td>
                      <td>$300</td>
                      <td>$360</td>
                      <td>$420</td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div><!--/row-fluid-->
  </div><!--/row-fluid-->
    <!--//Default Tables styles -->
</div><!--/container-->
<!--=== End Content Part ===-->
